---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Experience">
  <main class="p-10 md:px-24 md:py-16 lg:px-48 lg:py-16 lg:ml-72">
    <h2 class="text-3xl font-bold mb-28">Experience 💼</h2>

    <p class="text-xl">Coming soon.</p>
  </main>
</Layout>
