---
import StoryList from '@components/hacker-news/StoryList';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Hacker News">
  <div class="mx-auto px-6 md:px-12 lg:max-w-4xl">
    <h2 class="text-3xl font-bold mb-14">Hacker News</h2>
    <StoryList client:load />
  </div>
</Layout>
