---
import StoryList from '@components/hacker-news/StoryList';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Hacker News">
  <h2 class="text-3xl font-bold mb-14">Hacker News 📰</h2>
  <StoryList client:load />
</Layout>
