---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Home">
  <main class="p-10 md:px-24 md:py-16 lg:px-48 lg:py-16 lg:ml-72">
    <h2 class="text-3xl font-bold mb-28">Hey, I'm Alper 👋</h2>

    <p class="text-xl">
      I’m a full-stack <a href="https://github.com/alperkantarci" target="_blank" class="text-teal-300">developer</a> and bedroom <a
        href="https://www.youtube.com/@alperkantarci7667/featured"
        target="_blank"
        class="text-teal-300">producer</a
      > based in Prizren, Kosovo.
    </p>
  </main>
</Layout>
