---
import Layout from '@layouts/Layout.astro';
import SetupPage from '@components/setup/SetupPage';
---

<Layout title="Setup">
  <h2 class="text-3xl font-bold mb-24">Setup</h2>
  <SetupPage client:load />
</Layout>
