---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Setup">
  <main class="p-10 md:px-24 md:py-16 lg:px-48 lg:py-16 h-[1500px] lg:ml-72">
    <div class="text-2xl mb-28">
      <h2>Setup</h2>
    </div>

    <p class="text-base">Coming soon.</p>
  </main>
</Layout>
