---
import Layout from '@layouts/Layout.astro';
import SetupPage from '@components/setup/SetupPage';
---

<Layout title="Setup">
  <div class="mx-auto px-6 md:px-12 lg:max-w-6xl">
    <h2 class="text-3xl font-bold mb-14">Setup</h2>
    <SetupPage client:load />
  </div>
</Layout>
