---
import type { SetupItem } from 'src/constants/setup-items';
import { Image } from '@astrojs/image/components';

type Props = {
  setupItem: SetupItem;
};

const { setupItem } = Astro.props;
---

<a class="flex flex-col items-center gap-4" href={setupItem.link} target="_blank">
  <Image
    src={setupItem.img}
    alt={setupItem.name}
    width={1024}
    height={768}
    aspectRatio="4:3"
    format={'avif'}
    class="rounded-2xl w-full h-72 border-2 object-cover border-teal-950"
  />
  <p class="font-bold text-xl">{setupItem.name}</p>
</a>
