---
import { Icon } from 'astro-icon';

interface Props {
  icon: string;
  label: string;
  link: string;
}

const { icon, label, link } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const isActive = pathname === link;
---

<li>
  <a
    href={link}
    aria-label={label}
    class:list={[
      'flex gap-x-4 px-4 py-2 font-extrabold rounded-lg items-center cursor-pointer hover:border-teal-950 hover:text-teal-200 hover:font-extrabold',
      { 'border-teal-950 border-2 text-teal-200 font-extrabold': isActive },
    ]}
  >
    <Icon name={icon} class="w-5" />
    <div class="text-lg">{label}</div>
  </a>
</li>
