---
type Props = {
  category?: string;
};
const { category } = Astro.props;
---

<ul class="flex flex-wrap gap-y-4 text-base text-zinc-200 font-bold text-center dark:text-gray-400 mb-14">
  <li class="mr-2">
    <a
      href="/setup/"
      class:list={[
        'inline-block px-4 py-3 rounded-lg border-2 border-teal-950 hover:text-teal-200',
        { 'bg-teal-800 border-teal-800': !category },
      ]}>All</a
    >
  </li>
  <li class="mr-2">
    <a
      href="/setup/laptop/"
      class:list={[
        'inline-block px-4 py-3 rounded-lg border-2 border-teal-950 hover:text-teal-200',
        { 'bg-teal-800 border-teal-800': category === 'laptop' },
      ]}>Laptop</a
    >
  </li>
  <li class="mr-2">
    <a
      href="/setup/display/"
      class:list={[
        'inline-block px-4 py-3 rounded-lg border-2 border-teal-950 hover:text-teal-200',
        { 'bg-teal-800 border-teal-800': category === 'display' },
      ]}>Display</a
    >
  </li>
  <li class="mr-2">
    <a
      href="/setup/mouse-keyboard/"
      class:list={[
        'inline-block px-4 py-3 rounded-lg border-2 border-teal-950 hover:text-teal-200',
        { 'bg-teal-800 border-teal-800': category === 'mouse-keyboard' },
      ]}>Mouse / Keyboard</a
    >
  </li>
  <li class="mr-2">
    <a
      href="/setup/music/"
      class:list={[
        'inline-block px-4 py-3 rounded-lg border-2 border-teal-950 hover:text-teal-200',
        { 'bg-teal-800 border-teal-800': category === 'music' },
      ]}>Music</a
    >
  </li>
  <li class="mr-2">
    <a
      href="/setup/e-reader/"
      class:list={[
        'inline-block px-4 py-3 rounded-lg border-2 border-teal-950 hover:text-teal-200',
        { 'bg-teal-800 border-teal-800': category === 'e-reader' },
      ]}>E-reader</a
    >
  </li>
</ul>
