/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar styles */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-4;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-zinc-950 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-600 rounded-full border-solid border-4 border-zinc-950;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-teal-800;
  }
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Regular.woff2") format("woff2"),
    url("./assets/fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Bold.woff2") format("woff2"),
    url("./assets/fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
